#database-template {
  display: grid;

  grid-template-areas: "sidebar content";
  grid-template-rows: 1fr;
  grid-template-columns: 240px 1fr;

  min-height: 100vh;
  
  background-color: var(--secondary);
  padding: 10px;

  .sidebar {
    grid-area: sidebar;
    display: flex;

    justify-content: space-between;
    flex-direction: column;  

    position: relative;
    background-color: var(--primary);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 0;

    a, button {
      display: block;
      color: var(--primary-text);
      font-size: 13px;
      padding: 10px;
      margin: 0 12px;
      
      svg {
        fill: var(--primary-text);
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 5px;
      }
  
      &:hover {
        background-color: var(--primary-light);
        border-radius: 6px;
      }
    }

    button {
      background: none;
      border: none;
      text-align: left;
      cursor: pointer;
      width: calc(100% - 24px);
    }

    ul {
      margin: 0;
      padding: 0;
    }
  
    li {
      list-style: none;

      &.form {
        box-sizing: border-box;

        input {
          background: var(--primary);
          border: 1px solid var(--primary-light);
          color: var(--primary-text);
          margin-left: 20px;
          outline: none;
          width: 160px;
        }

        button {
          border: 1px solid var(--primary-light);
          border-radius: 5px;
          font-size: 12px;
          text-align: center;
          margin-top: 10px;
          margin-left: 20px;
          padding: 8px 0;
          width: 160px;
        }
      }

      &.separator {
        border-top: 1px solid var(--primary-light);
        margin: 10px 20px;
      }

      .btn-sidebar {
        border: 1px solid var(--primary-light);
        border-radius: 5px;
        font-size: 12px;
        text-align: center;
        margin-left: 20px;
        padding: 8px 0;
        width: 160px;
      }
    }
  }

  .content {
    grid-area: content;
    color: var(--secondary-text);
    padding: 10px;
  }
}