<header>
  <navbar></navbar>
</header>
<aside>
  <div>
    <menu class="menu-main" [menu]="aside"></menu>
    <menu class="menu-footer" [menu]="footer"></menu>
  </div>
</aside>
<nav>
  <title area="workspace"></title>
</nav>
<main>
  <div class="actions">
    <h6>Scroll to zoom, drag to move</h6>
  </div>
  <div #canvas>
    <draggable [zoomScale]="zoomScale" (dragStart)="pausePanzoom()" (dragEnd)="resumePanzoom()" [pos]="{ x: 10, y: 100 * i + 10 }" *ngFor="let template of templates; let i = index">
      <div class="view">
        <div class="flex flex-col justify-center items-center w-52 h-32 group border-2 bg-gray-200 border-gray-200" [ngClass]="{ 'bg-cta-default': template.name === 'Chore', 'border-cta-default': template.id === selectedTemplate }">
          <div class="text-xs uppercase text-gray-600 group-hover:text-gray-800">{{template.name}}</div>
        </div>
      </div>
    </draggable>
  </div>
</main>
