@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

#app,
.react-flow {
  min-height: 100vh;
  min-width: 100vw;
}

#blocks {
  .react-flow__handle-right {
    @apply top-1/2;
    @apply -translate-y-1/2;
    @apply h-full;
    @apply -right-5;
    @apply w-5;
    @apply rounded-none;
    @apply rounded-r-md;
    @apply border-0;
  }
  .react-flow__handle-left {
    @apply top-1/2;
    @apply -translate-y-1/2;
    @apply h-full;
    @apply -left-5;
    @apply w-5;
    @apply rounded-none;
    @apply rounded-l-md;
    @apply border-0;
  }
  .react-flow__handle {
    @apply bg-darker-800;
    &:hover {
      @apply bg-darker-600;
    }
  }

  form {
    .form-actions {
      @apply flex justify-between items-center mt-2;
      button {
        @apply delay-75;
      }
    }
    .form-control {
      @apply flex flex-col gap-1 justify-center items-start;
      label {
        @apply block;
        @apply text-xs;
        @apply text-gray-600;
        &.checkbox {
          @apply flex gap-3 items-center justify-start;
        }
      }
      &.compact {
        input {
          @apply px-0;
          @apply py-1;
        }
      }
      select,
      input {
        @apply rounded;
        @apply shadow-sm;
        @apply w-full;
        @apply px-1.5;
        @apply py-1;
        @apply placeholder-darker-600;
        @apply border;
        @apply border-darker-800;
        @apply text-left;
        @apply focus:ring;
        @apply focus:outline-none;
        @apply bg-transparent;
        @apply text-light;
        @apply focus:ring-0;
        @apply focus:border-darker-600 hover:border-darker-700;
        @apply transition-colors;
        &[type="checkbox"] {
          @apply bg-darker-600 border border-darker-400 h-5 w-5 rounded;
        }
      }
    }
  }
}

input.block-title {
  @apply rounded;
  @apply shadow-sm;
  @apply w-full;
  @apply px-1.5;
  @apply py-1;
  @apply placeholder-gray-300;
  @apply border;
  @apply border-gray-200;
  @apply text-left;
  @apply focus:ring;
  @apply focus:outline-none;
  @apply bg-transparent;
  @apply text-black;
  @apply focus:ring-0;
  @apply focus:border-cta-default;
  @apply transition-colors;
  &[type="checkbox"] {
    @apply bg-gray-100 border border-gray-300 h-5 w-5 rounded;
  }
}
