@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

#app, .react-flow {
  min-height: 100vh;
  min-width: 100vw;
}

form {
  .form-actions {
    @apply flex justify-between items-center mt-2;
    button {
      @apply delay-75;
    }
  }
  .form-control {
    @apply flex flex-col gap-1 justify-center items-start;
    label {
      @apply block;
      @apply text-xs;
      @apply text-gray-600;
      &.checkbox {
        @apply flex gap-3 items-center justify-start;
      }
    }
    &.compact {
      input {
        @apply px-0;
        @apply py-1;
      }
    }
    input {
      @apply w-full;
      @apply px-3;
      @apply py-2;
      @apply placeholder-gray-300;
      @apply border-b;
      @apply border-gray-300;
      @apply text-left;
      @apply focus:ring;
      @apply focus:outline-none;
      @apply bg-transparent;
      @apply text-black;
      @apply focus:ring-0;
      @apply focus:border-cta-default;
      @apply transition-colors;
      &[type="checkbox"] {
        @apply bg-gray-100 border border-gray-300 h-5 w-5 rounded;
      }
    }
  }
}

.dark {
  --celery-400: 34 184 51;
  --celery-500: 68 202 73;
  --celery-600: 105 220 99;
  --celery-700: 142 235 127;
  --chartreuse-400: 148 192 8;
  --chartreuse-500: 166 211 18;
  --chartreuse-600: 184 229 37;
  --chartreuse-700: 205 245 71;
  --yellow-400: 228 194 0;
  --yellow-500: 244 213 0;
  --yellow-600: 249 232 92;
  --yellow-700: 252 246 187;
  --magenta-400: 222 61 130;
  --magenta-500: 237 87 149;
  --magenta-600: 249 114 167;
  --magenta-700: 255 143 185;
  --fuchsia-400: 205 57 206;
  --fuchsia-500: 223 81 224;
  --fuchsia-600: 235 110 236;
  --fuchsia-700: 244 140 242;
  --purple-400: 157 87 243;
  --purple-500: 172 111 249;
  --purple-600: 187 135 251;
  --purple-700: 202 159 252;
  --indigo-400: 104 109 244;
  --indigo-500: 124 129 251;
  --indigo-600: 145 149 255;
  --indigo-700: 167 170 255;
  --seafoam-400: 0 158 152;
  --seafoam-500: 3 178 171;
  --seafoam-600: 54 197 189;
  --seafoam-700: 93 214 207;
  --red-100: 255 149 129;
  --red-400: 215 25 19;
  --red-500: 190 4 3;
  --red-600: 165 0 0;
  --red-700: 141 0 0;
  --orange-400: 244 129 12;
  --orange-500: 254 154 46;
  --orange-600: 255 181 88;
  --orange-700: 253 206 136;
  --green-400: 18 162 108;
  --green-500: 43 180 125;
  --green-600: 67 199 143;
  --green-700: 94 217 162;
  --blue-100: 43 56 71;
  --blue-400: 52 143 244;
  --blue-500: 84 163 246;
  --blue-600: 114 183 249;
  --blue-700: 143 202 252;
  --gray-50: 29 29 29;
  --gray-75: 38 38 38;
  --gray-100: 50 50 50;
  --gray-200: 63 63 63;
  --gray-300: 84 84 84;
  --gray-400: 112 112 112;
  --gray-500: 144 144 144;
  --gray-600: 178 178 178;
  --gray-700: 209 209 209;
  --gray-800: 235 235 235;
  --gray-900: 255 255 255;
  --static-black: 29 29 29;
  --static-white: 255 255 255;
  --static-blue: 0 84 182;
  --static-red: 180 0 0;
  --static-blue-700: 0 68 145;
  --static-red-700: 147 0 0;
}

.light {
  --celery-400: 39 187 54;
  --celery-500: 7 167 33;
  --celery-600: 0 145 18;
  --celery-700: 0 124 15;
  --chartreuse-400: 152 197 10;
  --chartreuse-500: 135 177 3;
  --chartreuse-600: 118 156 0;
  --chartreuse-700: 103 136 0;
  --yellow-400: 232 198 0;
  --yellow-500: 215 179 0;
  --yellow-600: 196 159 0;
  --yellow-700: 176 140 0;
  --magenta-400: 222 61 130;
  --magenta-500: 200 34 105;
  --magenta-600: 173 9 85;
  --magenta-700: 142 0 69;
  --fuchsia-400: 205 58 206;
  --fuchsia-500: 182 34 183;
  --fuchsia-600: 157 3 158;
  --fuchsia-700: 128 0 129;
  --purple-400: 157 87 244;
  --purple-500: 137 61 231;
  --purple-600: 115 38 211;
  --purple-700: 93 19 183;
  --indigo-400: 104 109 244;
  --indigo-500: 82 88 228;
  --indigo-600: 64 70 202;
  --indigo-700: 50 54 168;
  --seafoam-400: 0 161 154;
  --seafoam-500: 0 140 135;
  --seafoam-600: 0 119 114;
  --seafoam-700: 0 99 95;
  --red-100: 211 21 16;
  --red-400: 211 21 16;
  --red-500: 180 0 0;
  --red-600: 180 0 0;
  --red-700: 255 221 214;
  --orange-400: 246 133 17;
  --orange-500: 228 111 0;
  --orange-600: 203 93 0;
  --orange-700: 177 76 0;
  --green-400: 0 143 93;
  --green-500: 0 122 77;
  --green-600: 0 101 62;
  --green-700: 0 81 50;
  --blue-100: 196 221 252;
  --blue-400: 20 122 243;
  --blue-500: 2 101 220;
  --blue-600: 0 84 182;
  --blue-700: 0 68 145;
  --gray-50: 255 255 255;
  --gray-75: 253 253 253;
  --gray-100: 248 248 248;
  --gray-200: 230 230 230;
  --gray-300: 213 213 213;
  --gray-400: 177 177 177;
  --gray-500: 144 144 144;
  --gray-600: 109 109 109;
  --gray-700: 70 70 70;
  --gray-800: 34 34 34;
  --gray-900: 0 0 0;
  --static-black: 29 29 29;
  --static-white: 255 255 255;
  --static-blue: 0 84 182;
  --static-red: 180 0 0;
  --static-blue-700: 0 68 145;
  --static-red-700: 147 0 0;
}

article {
  .grid-editor-control {
    position: absolute;
    font-size: 10px;
    height: 32px;
    width: 32px;
    &.grid-editor-control-top {
      top: -32px;
      left: 50%;
      margin-left: -16px;
    }
    &.grid-editor-control-right {
      right: -32px;
      top: 50%;
      margin-top: -16px;
    }
    &.grid-editor-control-bottom {
      bottom: -32px;
      left: 50%;
      margin-left: -16px;
    }
    &.grid-editor-control-left {
      top: 50%;
      margin-top: -16px;
      left: -32px;
    }
  }
  .grid-editor {
    @apply border border-transparent;
  }
  service:hover .grid-editor {
    @apply border-gray-400;
  }

  service .editor-control {
    visibility: hidden;
  }

  service:hover .editor-control {
    visibility: visible;
  }

  /* Position Classes */
  .position-relative {
    position: relative;
  }
  .position-absolute {
    position: absolute;
  }
  .position-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .position-sticky:before,
  .position-sticky:after {
    content: "";
    display: table;
  }
  .position-fixed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .position-fixed_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    clip: rect(0, auto, auto, 0);
    /* clip-path: polygon(0px 0px, 0px 100%, 100% 100%, 100% 0px); */
  }
  .position-scroll_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .position-fixed_component {
    position: fixed;
    top: 0;
  }

  /* Flex */

  .display-flex {
    display: -webkit-flex; /* Safari */
    display: flex;
  }

  .ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }
  }

  .ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    @apply text-gray-400;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

article.article {
  service.service {
    @apply font-app;
    @apply text-static-black;
    line-height: 1;
    h1 {
      @apply font-app;
      font-size: 58px;
      line-height: 1.1;
      font-weight: 400;
      margin-bottom: 24px;
      letter-spacing: -0.036em;
    }
    h2 {
      @apply font-app;
      font-size: 48px;
      line-height: 1.1;
      font-weight: 400;
      margin-bottom: 26px;
      letter-spacing: -0.04em;
    }
    h3 {
      @apply font-app;
      font-size: 42px;
      line-height: 1.1;
      font-weight: 400;
      margin-bottom: 12px;
      letter-spacing: -0.04em;
    }
    p,
    blockquote {
      @apply font-app;
      font-weight: 400;
      @apply text-opacity-75;
      @apply mt-0;
      @apply mb-6;
      font-size: 22px;
      line-height: 1.6363636364;
      margin-bottom: 20px;
    }
    .text {
      > div:not(.editor-control) {
        @apply w-full;
      }
    }
  }
}

@media (max-width: 1023px) {
  article.article {
    service.service {
      h1 {
        font-size: 40px;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 36px;
        margin-bottom: 16px;
      }
      h3 {
        font-size: 32px;
        margin-bottom: 12px;
      }
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}

/*
@media (orientation: landscape) {
  article.article {
    service.service {
      div.layer {
        div.items {
          padding-left: clamp(0.25rem, 4vw, 7rem);
          padding-right: clamp(0.25rem, 4vw, 7rem);
          h1 {
            @apply mt-0;
            @apply mb-5;
            @apply font-normal;
          }
        }
      }
    }
  }
}

@media (orientation: portrait) {
  article.article {
    service.service {
      div.layer {
        position: relative;
        div.items {
          grid-row-start: 1;
          grid-row-end: 7;
          grid-column-start: 1;
          grid-column-end: 7;
          margin: 0 auto;
          padding-left: clamp(0.25rem, 4vw, 7rem);
          padding-right: clamp(0.25rem, 4vw, 7rem);
          h1 {
            @apply mt-0;
            @apply mb-5;
            @apply font-normal;
            line-height: 1.1;
            letter-spacing: -0.036em;
            font-size: clamp(26px, 4vw, 64px);
          }
          p {
            font-size: 24px;
            line-height: 1.6363636364;
            margin-top: 0;
            margin-bottom: 30px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
*/

article.info {
  @apply font-app;
  @apply text-static-black;
  line-height: 1;
  h1 {
    @apply font-app;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 24px;
    letter-spacing: -0.036em;
  }
  h2 {
    @apply font-app;
    font-size: 38px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 26px;
    letter-spacing: -0.04em;
  }
  h3 {
    @apply font-app;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 12px;
    letter-spacing: -0.04em;
  }
  p,
  blockquote {
    @apply font-app;
    font-weight: 400;
    @apply text-opacity-75;
    @apply mt-0;
    @apply mb-6;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 16px;
  }
  .text {
    > div:not(.editor-control) {
      @apply w-full;
    }
  }
}
