@import "../../Styles/Variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    max-width: 700px;
    text-align: center;
    letter-spacing: -0.75px;
    margin-bottom: 20px;
  }

  input {
    background-color: transparent;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;

    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 16px 13px;
    width: 100%;
  }

  button {
    background-color: $color-primary;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;

    min-width: 180px;
    padding: 16px;

    &:hover {
      background-color: $color-primary-dark;
      cursor: pointer;
    }

    width: 100%;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;

  img {
    width: 70px;
    height: auto;
    margin-right: 10px;
  }
}
