$color-primary-default: #5dbaff;
$color-primary-dark: darken(#5dbaff, 10%);

:root {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    max-width: 700px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.75px;
    margin-bottom: 20px;
  }

  input {
    background-color: transparent;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;

    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    padding: 16px 13px;
    width: 100%;
  }

  button {
    background-color: $color-primary-default;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;

    min-width: 180px;
    padding: 16px;

    &:hover {
      background-color: $color-primary-dark;
      cursor: pointer;
    }

    width: 100%;
  }
  
  p {
    text-align: center;
  }
}