.container {
  h1 {
    font-size: 38px;
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }
}

.pin {
  max-width: 560px;
  justify-content: center;
  column-gap: 3px;

  padding: 20px;

  input {
    font-size: 26px;

    margin: 0;
    padding: 0;

    height: 60px !important;
    width: 60px !important;

    &:nth-child(3n) {
      margin-right: 20px;
    }
  }
}
