.table {
  width: 100%;

  border-spacing: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    :last-child {
      border-right: 0;
    }
  }

  thead {
    th {
      font-weight: 600;
      text-align: left;
      font-size: 14px;
    }
  }

  tbody {
    td {
      font-size: 13px;
    }
  }
}