@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-gray-50;
  @apply text-gray-900;
}
// Valkyr Modal

vlk-modal-container {
  @apply absolute inset-0 grid place-items-center h-screen antialiased z-40;

  .vlk-modal-overlay {
    @apply absolute inset-0 w-full h-screen overflow-hidden z-40;
    @apply bg-gray-100 bg-opacity-40;
  }
  
  .vlk-modal-dialog {
    @apply relative z-50;
    @apply -translate-y-1/2;
    @apply px-8 py-6;
    @apply w-96;
    @apply rounded-sm drop-shadow-md;
    @apply bg-gray-50;
  
    vlk-modal-header {
      @apply block;
      @apply flex justify-start items-center;
      @apply w-full;
      @apply border-b-2 border-gray-400;
      @apply pb-2;
      @apply mb-3;
    }
    
    vlk-modal-content {
      @apply py-5;
    }
    vlk-modal-footer {
      @apply pt-6;
      @apply flex justify-end items-center gap-3;
    }
  }
}

.item.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-placeholder.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.item:last-child {
  border: none;
}

.item-list.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

form {
  .form-control {
    @apply flex flex-col gap-1 justify-center items-start;
    @apply mt-6;
    label {
      @apply block;
      @apply text-xs;
      @apply text-gray-600;
      &.checkbox {
        @apply flex gap-3 items-center justify-start;
      }
    }
    input {
      @apply w-full;
      @apply px-3;
      @apply py-2;
      @apply placeholder-gray-200;
      @apply border-b;
      @apply border-gray-300;
      @apply text-left;
      @apply focus:ring;
      @apply focus:outline-none;
      @apply bg-white;
      @apply text-black;
      @apply focus:ring-0;
      @apply focus:border-cta-default;
      @apply transition-colors;
      &[type="checkbox"] {
        @apply bg-gray-100 border border-gray-300 h-5 w-5 rounded;
      }
    }
  }
  button {
    @apply delay-75;
  }
}

li {
  @apply list-none;
}