@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-gray-50;
  @apply text-gray-900;
}
// Valkyr Modal

vlk-modal-container {
  @apply absolute inset-0 grid place-items-center h-screen antialiased z-40;

  .vlk-modal-overlay {
    @apply absolute inset-0 w-full h-screen overflow-hidden z-40;
    @apply bg-gray-100 bg-opacity-40;
  }
  
  .vlk-modal-dialog {
    @apply relative z-50;
    @apply -translate-y-1/2;
    @apply px-8 py-6;
    @apply w-96;
    @apply rounded-sm drop-shadow-md;
    @apply bg-gray-50;
  
    vlk-modal-header {
      @apply block;
      @apply flex justify-start items-center;
      @apply w-full;
      @apply border-b-2 border-gray-400;
      @apply pb-2;
      @apply mb-3;
    }
    
    vlk-modal-content {
      @apply py-5;
    }
    vlk-modal-footer {
      @apply pt-6;
      @apply flex justify-end items-center gap-3;
    }
  }
}

.todo.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo:last-child {
  border: none;
}

.todo-list.cdk-drop-list-dragging .todo:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}