<coral-shell-menu id="menu_user">
  <coral-shell-user avatar="https://wwwimages2.adobe.com/content/dam/acom/en/leaders/photos/shantanu-narayen.jpg">
    <coral-shell-user-name>Shantanu Narayen</coral-shell-user-name>
    <coral-shell-user-heading>CEO</coral-shell-user-heading>
    <coral-shell-user-content>
      <div style="display:flex;justify-content:center">
        <a is="coral-anchorbutton" variant="quiet">Edit Profile</a>
      </div>
    </coral-shell-user-content>
    <coral-shell-user-footer>
      <a is="coral-anchorbutton">Sign Out</a>
    </coral-shell-user-footer>
  </coral-shell-user>
</coral-shell-menu>